<form [formGroup]="personData" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Agregar Persona a la Agenda</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nick" formControlName="nick">
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="personData.controls['email'].hasError('required')">
                            El correo <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="personData.controls['email'].hasError('email')">
                            El campo de correo no es válido corrigelo por favor
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nombres" formControlName="name">
                        <mat-error *ngIf="personData.controls['name'].hasError('required')">
                            El nombre es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Apellidos" formControlName="lastName">
                        <mat-error *ngIf="personData.controls['lastName'].hasError('required')">
                            Los apellidos son <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Telefono" formControlName="phone">
                        <mat-error *ngIf="personData.controls['phone'].hasError('required')">
                            El teléfono es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Avatar" formControlName="avatar"></textarea>

                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="isNewPerson" mat-raised-button color="primary" type="submit">Enviar</button>
            <button *ngIf="!isNewPerson" mat-raised-button color="primary" type="submit">Actualizar</button>
        </mat-card-actions>
    </mat-card>
</form>